html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "boldo";
    src: url("fonts/interbold.otf")
}

@font-face {
    font-family: "corpo";
    src: url("fonts/corpo.otf")
}

/* GLOBALS */
body {
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #B600FF;        
}

.cloud {
    margin-left: 29px;
}

.cloud::before {
    content: "";
    background-image: url(media/cloudia.png);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0px;
    margin-top: 4px;
}

h1,h2 {
    font-family: boldo;
}

h1 {
    font-size: 48px;
    margin-bottom: 7px;
}

h1:after {
    content: "";
    display: inline-block;
    width: 45%;
    border-top: 2px solid #00FFD4;
    margin-left: 4%;
    height: 13px;
}

h2 {
    font-size: 32px;  
    line-height: 45px;  
}

p {
    font-family: corpo;
    display: block;
    width: 400px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 70px;
}

iframe {
    margin-bottom: 35px;
    width: 100%;    
}

video {
    margin-bottom: 30px;
    width: 100%;    
}

/* DIVS */  
.topbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
    background: black;
    height: 70vh;
    width: 100%;
}

.wavy {
    background: url(media/green-zig.png);
    height: 10px;
    width: 165px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.container {
    position: relative;
    z-index: 1;
    width: 45%;
    margin: 50px auto;    
}

.title {
    display: flex;
}

.title h2 {
    color: #f5f5f5;
    margin-bottom: 30px;
    width: 50%;
    margin-right: 25px;
}

