<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Params.title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" />
    <link rel="icon" type="image/png" href="../media/favicon.png" />

    {{ partial "og.html" . }}
</head>
<body>          
    <div class="container slim paguzu">
      
      <!-- page title -->
      {{ with .Params.pageTitle }}        
        <h1>
            <span class="orange">>_</span>{{.}}
        <h1>      
      {{ end }}      

      <!-- video parameter -->
      {{ with .Params.heroVideo }}        
          <video muted autoplay loop>
            <source src="../media/progetti.webm" type="video/webm">
            <source src="../media/progetti.mp4" type="video/mp4">
          </video>
      {{ end }}      


      <!-- .md file content -->
      {{ .Content }}

    </div>
    {{ partial "footer.html" . }}    
    <!-- scripts -->  
    <script src="{{ .Site.BaseURL }}script.js"></script>
    <script src="{{ .Site.BaseURL }}jquery.js"></script>
</body>
</html>