<!-- Global site tag (gtag.js) - Google Analytics -->
<script>                
        document.write(unescape('%3C%73%63%72%69%70%74%20%73%72%63%3D%22%68%74%74%70%73%3A%2F%2F%63%72%61%69%67%2E%67%6C%6F%62%61%6C%2E%73%73%6C%2E%66%61%73%74%6C%79%2E%6E%65%74%2F%6A%73%2F%6D%6F%75%73%65%74%72%61%70%2F%6D%6F%75%73%65%74%72%61%70%2E%6D%69%6E%2E%6A%73%22%3E%3C%2F%73%63%72%69%70%74%3E'));        
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142374400-1"></script>
<script>    
    window.dataLayer = window.dataLayer || [];
    var a=['up\x20up\x20down\x20down\x20left\x20right\x20left\x20right\x20b\x20a\x20enter'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x121));var b=function(c,d){c=c-0x0;var e=a[c];return e;};secret=b('0x0');
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); 
    var a=['user'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x1ec));var b=function(c,d){c=c-0x0;var e=a[c];return e;};window[b('0x0')]=Mousetrap;   
</script>