<meta property="og:url"                content="http://www.ml-camp.supsi.ch" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Machine Learning Camp" />
<meta property="og:description"        content="un corso pratico sui concetti e le tecnologie di machine learning indirizzato a studenti delle scuole professionali" />
<meta property="og:image"              content="https://github.com/ml-schoolcampsupsi/ml-school/raw/master/static/media/og1.jpg" />