<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Params.title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" />
</head>
<body>
    
    <div class="topbg"></div>

    <div class="container">
      
      <!-- page title -->
      {{ with .Params.pageTitle }}        
      <div class="title">
        <h2>
          {{.}}
        </h2>
        <div class="wavy"></div>
      </div>
      {{ end }}

      <!-- video parameter -->
      <!-- {{ with .Params.videoLink }}        
      <iframe src={{.}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
      {{ end }} -->

      <!-- video parameter -->
      {{ with .Params.videoSrc }}        
      <video controls src="media/ford.mp4"></video>
      {{ end }}

      <!-- .md file content -->
      {{ .Content }}

    </div>
    
    <!-- scripts -->
    <script src="{{ .Site.BaseURL }}script.js"></script>
</body>
</html>