<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Params.title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" />
    <link rel="icon" type="image/png" href="media/favicon.png" />

    {{ partial "og.html" . }}
</head>
<body>        

    <div class="container regular">
      
      <!-- page title -->
      {{ with .Params.pageTitle }}        
      <div class="title">
        <div class="text">
          <span class="orange">>_</span>{{.}} 
        </div>      
      </div>
      {{ end }}      

      <!-- video parameter -->
      {{ with .Params.videoLink }}
      <img src="media/cover.webp" alt="video cover" id="cover">
      <div class="embed-container" id="video-container">        
        <!-- <iframe src='https://www.youtube.com/embed/2Q1bUWRM2i0' frameborder='0' allow='autoplay; fullscreen' allowfullscreen></iframe>     -->
      </div>        
      {{ end }}

      <!-- video parameter -->
      <!-- {{ with .Params.videoSrc }}        
      <video controls src="media/ford.mp4"></video>
      {{ end }} -->

      <!-- image parameter -->
      {{ with .Params.heroImg }}        
        <img src={{.}} alt="hero image" class="hero">        
      {{ end }}


      <!-- .md file content -->
      {{ .Content }}

    </div>  

    {{ partial "footer.html" . }}    

    <!-- scripts -->
    <script src="{{ .Site.BaseURL }}script.js"></script>    

    {{ partial "analytics.html" . }}

</body>
</html>
