html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "boldo";
    src: url("https://www.ml-camp.supsi.ch/fonts/interbold.otf")
}

@font-face {
    font-family: "corpo";
    src: url("https://www.ml-camp.supsi.ch/fonts/corpo.otf")
}

@font-face {
    font-family: "sughio";
    src: url("https://www.ml-camp.supsi.ch/fonts/sughio.ttf")
}

@font-face {
    font-family: "snack";
    src: url("https://www.ml-camp.supsi.ch/fonts/usnack.woff")
}

@font-face {
    font-family: "snackb";
    src: url("https://www.ml-camp.supsi.ch/fonts/snack.woff")
}

/* GLOBALS */
body {
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #B600FF;
}

.highlight {
    background-color: black;
    color: #F5F5F5;
}

.cloud {
    margin-left: 29px;
}

.cloud::before {
    content: "";
    background-image: url(media/cloudia.png);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0px;
    margin-top: 4px;
}

h1,h3 {
    font-family: boldo;
}

h2 {
    font-family: snackb;
}

p,li, table, h5 {
    font-family: corpo;
}

h1 {
    font-size: 48px;
    margin-bottom: 7px;
    margin-bottom: 25px;
}

h1:after {
    content: "";
    display: inline-block;
    width: 45%;
    border-top: 2px solid #00FFD4;    
    margin-left: 4%;
    height: 13px;
}


.title .orange {
    color: #B600FF;
}

.orange h2, .orange p {
    border-color: #ffae00;
}

.orange h2 {
    color: #ffae00;
}

.violet h2, .violet p {
    border-color: #B600FF;
}

.violet h2 {
    color: #B600FF;
}

.cyan h2, .cyan p {
    border-color: #00FFD4;
}

.cyan h2 {
    color: #00FFD4;
}



section h2, section p{
    border: 2px solid;       
}

section h2 {    
    margin-bottom: -2px;
    padding: 10px 20px 5px 15px;
}

section p {
    padding: 10px 20px 15px 15px;
}

h2 {
    font-size: 32px;
    line-height: 45px;    
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

h5{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}

p {
    display: block;
    font-size: 16px;
    line-height: 27px;
}

.split {
    width: 100px;
    margin: 40px auto;
    border-bottom: 2px dashed #00FFD4;
}

blockquote {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    max-width: 100%
}

blockquote p:after {
    width: 100%;
    height: 25px;
    content: "";
    display: block;
    background: url('media/regione.png');    
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    transform: skew(350deg);
    opacity: 0.8;
    margin-bottom: 50px;
}

blockquote p {
    margin: 0 auto;    
    margin-top: 50px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    transform: skew(10deg);
    width: 100%;    
}

blockquote a {
    border-bottom: 0px !important;
}

li {
    list-style-type: none;
    margin-bottom: 1px;
    font-size: 14px;
}

table {
    font-size: 14px;
}

td, th {
    text-align: left;
}

td:first-child, th:first-child {
    width: 110px;
}

tr {
    border-bottom: 1px dotted #999;
    display: block;
    padding: 1px 0 4px 0;
    transition: background 0.2s;
    transform: rotate(0deg);
}

tr:hover{
    /* background: #e6e6e6; */
}

ul {
    margin-bottom: 70px;
    margin-top: -50px;    
    font-size: 15px;
    line-height: 26px;    
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 35px;
    box-shadow: 0px 20px 76px -32px rgba(112,112,112,1);
    margin-bottom: 80px;

  }
          
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 20px 76px -32px rgba(112,112,112,1);
}

footer {
    position: absolute;
    /* bottom: 0; */
    background: black;
}

footer p {
    color: #F5F5F5;
    width: 100%;
    text-align: center;
    margin: 27px 0px;
    line-height: 36px;
}

footer a {
    color: #F5F5F5;
}

.purple {
    border-bottom: 2px solid #00FFD4;
}

.hero {
    width: 100%;
    margin-bottom: 30px;
}

/* DIVS */
.topbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
    background: black;
    height: 70vh;
    width: 100%;
}

.wavy {
    background: url(media/green-zig.png);
    height: 10px;
    width: 165px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.wavy-mobile {
    background: url(media/green-zig.png);
    height: 10px;
    width: 165px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.container {
    position: relative;
    z-index: 1;
    margin: 80px auto;
}

.title {
    display: flex;
}

strong{
	font-weight: bold;
}

.title .text {
    color: black;
    margin-bottom: 69px;    
    font-family: snackb;
    font-size: 64px;
    line-height: 98px;
    /* text-transform: lowercase; */
    text-align: center;
    width: 100%;
    transform: scale(1,1.05)
}

.ziggato:before {
    content: "";
    display: inline-block;
    width: 170px;
    height: 9px;
    background: url(media/green-zig.png);
    background-size: 100%;
    margin-right: 17px;
}

.ziggato + p {
    margin-left: 187px;
}

/* MOBILE */
@media only screen and (max-width: 700px) {

    p, table {
        margin-bottom: 40px;
    }

    p {
        width: 100%;
    }

    footer {
        width: 70%;
    }

    .topbg {
        display: none;
    }

    .title .text {
        width: 100%;
        margin-top: 20px;
        color: black;
    }

    .title .wavy {
        display: none;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
  }

/* NOT MOBILE */
@media only screen and (min-width: 701px) {

    section,p, table {
        margin-bottom: 70px;
    }

    section {
        width: 444px;
        margin: 0 auto;        
        transition: padding-left 1s ease;
    }

    section:hover {
        padding-left:20px
    }

    footer {
        width: 100%;
    }

    .wavy-mobile {
        display: none;
    }

    .title .text {
        /* width: 56%; */
    }

    .container {
        min-width: 800px;
        width: 45%;
    }
}
