html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    width: 100%;
}

@font-face {
    font-family: "boldo";
    src: url("fonts/boldo.ttf")
}

@font-face {
    font-family: "corpo";
    src: url("fonts/corpo.otf")
}

@font-face {
    font-family: "snack-reg";
    src: url("fonts/snackb.woff")
}

@font-face {
    font-family: "snack-med";
    src: url("fonts/medium.woff")
}

/* GLOBALS */
body {
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #B600FF;
}

.highlight {
    background-color: black;
    color: #F5F5F5;
}

.cloud {
    margin-left: 29px;
}

.cloud::before {
    content: "";
    background-image: url(media/cloudia.png);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0px;
    margin-top: 4px;
}

h1,h3 {
    font-family: snack-med;
    transform: scale(1,1.05);      
}

h2 {
    font-family: snack-reg;
    font-size: 32px;
    line-height: 45px;   
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;    
}

h5{    
    text-align: center;    
}

p {
    display: block;
    font-size: 16px;
    line-height: 27px;
}

p,li, table, h5 {
    font-family: corpo;
}


.title .orange, h1 .orange {
    color: #B600FF;
}

.orange h2, .orange p {
    border-color: #ffae00;
}

.orange h2 {
    color: #ffae00;
}

.violet h2, .violet p {
    border-color: #B600FF;
}

.violet h2 {
    color: #B600FF;
}

.cyan h2, .cyan p {
    border-color: #00FFD4;
}

.cyan h2 {
    color: #00FFD4;
}

.cyanh3 {
    color: #00FFD4;
}

.violeth3 {
    color: #B600FF;
}

.orangeh3 {
    color: #ffae00;
}

section h2, section p{
    border: 2px solid;       
}

section h2 {    
    margin-bottom: -2px;
    padding: 10px 20px 5px 15px;
}

section p {
    padding: 10px 20px 15px 15px;
}

.split {
    width: 100px;
    border-bottom: 2px dashed #00FFD4;
}

blockquote {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    max-width: 100%
}

blockquote p {
    margin: 0 auto;        
    font-weight: bold;    
}

blockquote p:after {
    width: 100%;    
    content: "";
    display: block;
    background: url('media/regione.png');    
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    transform: skew(350deg);
    opacity: 0.8;
}

blockquote a {
    border-bottom: 0px !important;
}

ul {    
    margin-top: 10px;    
    font-size: 15px;
    line-height: 26px;    
}

li {
    list-style-type: none;
    margin-bottom: 1px;
    font-size: 16px;
}

table {
    font-size: 14px;
    width: 100%;
}

td, th {
    text-align: left;
}

td:first-child, th:first-child {
    width: 110px;
}

tr {
    border-bottom: 1px dotted #00FFD4;
    display: block;
    padding: 1px 0 4px 0;
    transition: background 0.2s;
    transform: rotate(0deg);
}

tr:hover{
    /* background: #e6e6e6; */
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;        
    margin-bottom: 80px;
}
          
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 20px 76px -32px rgba(112,112,112,1);
}

footer {        
    display: flex;
    justify-content: space-around;
    border-top: 2px dashed #00FFD4;
}

footer p {
    color: black;
    width: 100%;
    text-align: center;    
    line-height: 36px;
}

footer a {
    color: black;
}

.purple {
    border-bottom: 2px solid #00FFD4;
}

.hero {
    width: 100%;
    margin-bottom: 30px;
}

/* DIVS */
.topbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
    background: black;
    height: 70vh;
    width: 100%;
}

.wavy {
    background: url(media/green-zig.png);
    height: 10px;
    width: 165px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.wavy-mobile {
    background: url(media/green-zig.png);
    height: 10px;
    width: 165px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.container {
    position: relative;
    z-index: 1;
    margin: 80px auto;
}

.title {
    display: flex;
}

strong{
	font-weight: bold;
}

.title .text {
    color: black;    
    font-family: snack-med;    
    text-align: center;
    width: 100%;
    transform: scale(1,1.05);      
}

.ziggato:before {
    content: "";
    display: inline-block;
    width: 170px;
    height: 9px;
    background: url(media/green-zig.png);
    background-size: 100%;
    margin-right: 17px;
}

.ziggato + p {
    margin-left: 187px;
}

/* NOT MOBILE */
@media only screen and (min-width: 701px) {

    table {
        margin-bottom: 70px;
    }

    section {
        width: 444px;
        margin: 0 auto 70px auto;        
        transition: padding-left 1s ease;
    }

    section:hover {
        padding-left:20px
    }

    footer {
        width: 100%;
        padding: 40px 0;
    }  
    
    
    blockquote p {
        width: 100%;        
        font-size: 36px;
        line-height: 48px;
        transform: skew(10deg);
    }

    blockquote p:after {    
        margin-bottom: 50px;
        height: 25px;
    }

    .paguzu h2 {
        margin-top: 50px;   
    }

    h3 {
        margin-top: 50px;
    }    

    h5 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 50px;
    }

    ul {
        margin-bottom: 50px;
    }

    .wavy-mobile {
        display: none;
    }

    .title .text, h1 {
        font-size: 64px;
        line-height: 98px;    
        margin-bottom: 69px;  
    }    

    .regular {
        min-width: 700px;
        max-width: 1280px;               
        width: 55%; 
    }

    .slim {
        width: 700px;    
    }

    .embed-container {    
        margin-bottom: 80px;
        box-shadow: 0px 20px 76px -32px rgba(112,112,112,1);
    }

    .split {
        margin: 40px auto;
    }
}

/* MOBILE */
@media only screen and (max-width: 700px) {

    table {
        margin-bottom: 40px;
    }

    section {
        width: 100%;
        margin: 0 auto 40px auto;        
    }    

    footer {
        width: 100%;
        flex-direction: column;
        padding: 30px 0;
    }

    blockquote p {
        width: 80%;      
        font-size: 27px;
        line-height: 39px;  
        transform: skew(10deg) translateX(-11px);        
    }

    blockquote p:after {    
        margin-bottom: 35px;
        height: 20px;
    }

    .paguzu h2 {
        margin-top: 40px;   
    }

    h3 {
        margin-top: 40px;
    }

    h5 {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 40px;
    }

    ul {
        margin-bottom: 40px;
    }

    .topbg {
        display: none;
    }

    .title .text, h1 {
        width: 100%;
        margin-top: 20px;
        color: black;
        font-size: 34px;
        margin: 40px auto;
        line-height: 51px;
        text-align: center;
    }

    .title .wavy {
        display: none;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .embed-container {    
        margin-bottom: 40px;
    }

    .split {
        margin: 30px auto;
    }    
  }

/* SMALL MOBILES */
@media only screen and (max-width: 375px) {
    .title .text, h1 {
        width: 100%;
        margin-top: 20px;
        color: black;
        font-size: 31px;
        margin: 40px auto;
        line-height: 46px;
        text-align: center;
    }
}

/* SMALL MOBILES */
@media only screen and (max-width: 330px) {
    .title .text, h1 {
        width: 100%;
        margin-top: 20px;
        color: black;
        font-size: 27px;
        margin: 40px auto;
        line-height: 41px;
        text-align: center;
    }
}